@import '../../../styles/var/woo-var.scss';

.woo-btn {
  padding: 0 20px;
  font-size: $woo-font-size-md;
  height: 32px;
  line-height: $woo-line-height-base;
  border: none;
  color: #fff;
  // border-radius: $woo-border-radius;
  border-width: 1px;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &-primary {
    background-color: $woo-primary;

    &:hover {
      background-color: $woo-primary-hover;
    }

    &:focus {
      background-color: $woo-primary-hover;
    }

    &:active {
      background-color: $woo-primary-active;
    }

    &:disabled {
      color: $woo-light-text;
      background: $woo-primary-disabled;
      border: none;
    }
  }

  &-success {
    background-color: $woo-success;

    &:hover {
      background-color: $woo-success-hover;
    }

    &:focus {
      background-color: $woo-success-hover;
    }

    &:active {
      background-color: $woo-success-active;
    }

    &:disabled {
      color: $woo-light-text;
      background: $woo-success-disabled;
      border: none;
    }
  }

  &-warning {
    background-color: $woo-warning;

    &:hover {
      background-color: $woo-warning-hover;
    }

    &:focus {
      background-color: $woo-warning-hover;
    }

    &:active {
      background-color: $woo-warning-active;
    }

    &:disabled {
      color: $woo-light-text;
      background: $woo-warning-disabled;
      border: none;
    }
  }

  &-danger {
    background-color: $woo-contrast;

    &:hover {
      background-color: $woo-contrast-hover;
    }

    &:focus {
      background-color: $woo-contrast-hover;
    }

    &:active {
      background-color: $woo-contrast-active;
    }

    &:disabled {
      background-color: $woo-contrast-disabled;
    }
  }

  &-text {
    padding: 0;
    color: $woo-text;

    &:hover {
      color: $woo-list-item-hover-text;
    }

    &:focus {
      color: $woo-list-item-hover-text;
    }

    &:active {
      color: $woo-list-item-hover-text;
    }

    &:disabled {
      color: $woo-disabled-text;
    }
  }

  &-sm {
    padding: 0 4px;
    height: 24px;
    font-size: $woo-font-size-sm;
    min-width: 48px;
  }

  &-md {
    padding: 0 16px;
    height: 32px;
    font-size: $woo-font-size-md;
    min-width: 56px;
  }

  &-lg {
    padding: 0 24px;
    height: 36px;
    font-size: $woo-font-size-lg;
    min-width: 72px;
  }

  &-icon-wrap {
    padding: 0 10px;
    .iconfont {
      vertical-align: middle !important;
      margin-right: 2px !important; 
    }
  }
}